@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    font-family: 'Edu TAS Beginner', cursive ;
    font-size: larger;
}