.log-out-button {
    display: flex;
    flex-wrap:wrap-reverse;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Edu TAS Beginner', cursive ;
    font-size: large;
}
.button {
    background-color: blanchedalmond;
    border-radius: 13px;
}