@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 10px;
    background-color:#9c27b0b8 ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    width: 95%;
    height: 10%;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.SClogo {
    padding-top: 22px;
    justify-content: start;
    cursor: pointer;
}
/* 
.fa-react {
    color: white;
    margin-left: 0.2rem;
    font-size: 1.6rem;
} */
/* 
.fa-bars {
    color:#2cb6b8;
} */

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    font-family: 'Edu TAS Beginner', cursive;
    font-style: bold;
}

.nav-links {
    text-decoration: none;
    color: black;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover {
    background-color: #2cb6b8;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}